[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=engineer
Name[fr]=engineer
GenericName=Engineer
Comment=Efl Application Engineer
Icon=engineer
TryExec=engineer
Exec=engineer
Categories=Development;Utility;
